<div class="header2">
<img src="/images/cc_logo.jpg" width="800" height="201" alt="cc_logo"></div>

<div class="col2">
	<p id="notice"><%= notice %></p>
	<p>Choose an artist using the search box below and make an exhibition about them. You'll get lots of images from Europeana that you can use to curate your exhibition.</p>
		
	<%= form_tag('/search/results', :method => "get") do %>
	  <%= label_tag(:q, "Search for") %>
		<%= text_field_tag :q %>
	  <noscript><%= submit_tag("Search") %></noscript>
	<% end %>
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<br>
    <div class="line"></div>
  	go go go!
</div>
